Repository DSA-n-DEV/Daily-Questions, pull requests merged in 2022-10, with the labels that each got.

#2 Solution Of Atlassian Problem
  October/21-10-2022 Atlassian/21-10-2022 Atlassian.md
  October/21-10-2022 Atlassian/Atlassian_Solution.cpp
Labels: enhancement, Solution Accepted, Solution

#3 DropBox_Solution
  October/11-10-2022 Dropbox/11-10-2022 Dropbox.md
  October/11-10-2022 Dropbox/DropBox_Sol.cpp
  October/18-10-2022 Salesforce/18-10-2022 Salesforce.md
  October/18-10-2022 Salesforce/Salesforce_Solution.cpp
Labels: enhancement, Solution Accepted, Solution

#6 PagerDuty_Solution
  October/12-10-2022 PagerDuty/PagerDuty.cpp
Labels: enhancement, Solution

#8 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation, help wanted, Hacktoberfest-accepted

#9 Create LICENSE
  LICENSE
Labels: documentation, Hacktoberfest-accepted

#10 Amazon Solution
  October/13-10-2022 Amazon/Amazon_Solution.cpp
Labels: enhancement, Solution Accepted, Solution

#13 Linkedin_Sol
  Problems/October/23-10-2022 LinkedIn/Linkedin_Sol.cpp
Labels: enhancement, Solution Accepted, Solution, Hacktoberfest-accepted

#14 Pinterest_Sol
  Daily Questions/October/24-10-2022 Pintrest/Pinterest_Sol.cpp
Labels: enhancement, Solution Accepted, Solution, Hacktoberfest-accepted

#18 Two_Sigma_Solution
  Daily Questions/October/29-10-2022 Two Sigma/Two_Sigma_Solution.cpp
Labels: enhancement, Solution Accepted, Solution

#19 function of twitter problem
  Daily Questions/October/26-10-2022 Twitter/Twitter-solution.cpp
Labels: enhancement, Solution Accepted, Solution
